

#nav i:nth-child(1){
    border-right: 1px solid rgb(185, 185, 185);
}
#nav i{
    flex-grow: 1;
    text-indent: 7px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
#nav{
    position: fixed;
    display: flex;
    left: 20px;
    top: 18px;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9999;
    width: 80px;
    height: 30px;
    border-radius: 15px 15px;
    border: 1px solid rgb(185, 185, 185);
}
.coit-body{
    margin-top: 35px;
    margin-left: 40px;
    height: auto;
    width: calc(100% - 40px);
    color: white;
    font-size: 1.1rem;
    padding-top:5px;
    line-height: 1.6rem;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(168, 168, 168);
}
.coit-header i{
    position: absolute;
    right:0;
    color: rgb(204, 204, 204);
    font-size: 20px;
    top: 5px;
}
.coit-countLikes{
    position: absolute;
    right: 30px;
    font-size: 15px;
    top: 8px;
    color: rgb(197, 197, 197);
}
.coit-time{
    position: absolute;
    bottom: 0;
    left: 40px;
    color: rgb(179, 179, 179);
    font-size: 0.8rem;
}
.coit-name{
    position: absolute;
    top: 0;
    font-size: 1rem;
    left: 40px;
    color: rgb(218, 218, 218);
}
.coit-avatar{
    position: absolute;
    left: 0;
    top: 0;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.coit-header{
    position: absolute;
    width: 100%;
    height: 35px;
}
.co-item{
    position: relative;
    float: right;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.co-body{
    margin-top: 20px;
    width: 100%;
    height: auto;
}
.co-header{
    color: white;
    font-size: 1.3rem;
}
.comment{
    margin-top: 40px;
    width: 100%;
    height: 500px;
}
.re-item i{
    position: absolute;
    right: 0;
    font-size: 30px;
    top: 10px;
    color: rgb(187, 187, 187);
}
.re-item-pc{
    position: absolute;
    left: 60px;
    color: rgb(214, 214, 214);
    font-size: 0.9rem;
    bottom: 0;
    width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.re-item-title{
    position: absolute;
    font-size: 1.2rem;
    left: 60px;
    width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.re-item-cover{
    height: 50px;
    border-radius: 5px;
}
.re-item{
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 50px;
}
.re-body{
    margin-top: 20px;
    width: 100%;
    height: auto;
}
.re-oneKey span{
    position: absolute;
    font-size: 12px;
    top: 4px;
    left: 28px;
}
.re-oneKey{
    position: absolute;
    right: 0;
    border-radius:15px ;
    width: 85px;
    height: 30px;
    border: 1px solid rgb(207, 207, 207);
    box-sizing: border-box;
    padding:5px 7px;
    line-height: 20px;
}
.re-title{
    font-size: 1.3rem;
}
.re-header{
    position: relative;
    width: 100%;
    line-height: 30px;
    height: 30px;
}
.recommend{
    color: white;
    margin-top: 110px;
    width: 100%;
    height: auto;
}
.heightLight{
    color: white !important;
    font-size:20px ;
}
.lyricBlock ul li{
    color: rgb(184, 184, 184);
    margin-bottom: 10px;
    transition:all 0.5s;
    text-align: center;
    white-space: wrap;
}

.lyricBlock ul{
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 150px;
    scroll-behavior:smooth;
}

.lyricBlock{
    width: 100%;
    height: 150px;
}
#play-pause:hover{
    opacity: 1;

}
#play-pause{
    position: absolute;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 40px;
    border-radius: 50%;
}
.cover{
  position: absolute;
  top: 45px;
  left:45px;  
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.record-cover{
    position: absolute;
    left: 50%;
    top: 92px;
    box-shadow: 0 0 20px rgb(145, 145, 145);
    border-radius: 50%;
    transform: translateX(-50%);
    width: 220px;
    height: 220px;
    background-position:247px 924px;
    transition:all 0.1s;
    background-image: url('https://s2.music.126.net/style/web2/img/coverall.png?f966cbcce23f95062455c223859c2ea7');
}
.record-point-pause{
    position: absolute;
    left: 59%;
    width: 150px;
    transform-origin: 52px 30px;
    transform: translateX(-50%) rotate(-30deg)!important;
    z-index: 10;
}
.record-point-play{
    position: absolute;
    left: 59%;
    width: 150px;
    transform-origin: 52px 30px;
    transition: 0.5s;
    transform: translateX(-50%);
    z-index: 10;
}
.record{
    width: 100%;
    height: 370px;

}
.content{
    position: relative;
    top: 70px;
    z-index: 1000;
    width: 90%;
    height: 400px;
    margin: 0 auto;
}
#realTitle{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
    line-height: 70px;
    font-size: 17px;
    text-align: center;
    z-index: 9999;
    color: white;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#title{
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 1200;
    text-align: center;
    line-height: 70px;
    color: white;
    font-size: 17px;
    background-position: 50%;
    background-size:cover;
    filter: blur(18px);
    transform: scale(1.6);
}
#main{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
#mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.4);
}
#play-page-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size:cover;
    filter: blur(18px);
    transform: scale(1.6);
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}